.map{
    width: 100%;
    margin: auto;
}
#caldas{
    transition: transform .1s;
    opacity: 0.8;
}
#caldas:hover{
    fill:#008f4c;
    fill-opacity:0.788235;
    transform: scale(1.01);
    transform-style: flat;
    opacity: 1;
}

#MapaTurismo{
    opacity: 0.5;
}

.municipios{
    opacity: 0.8;
    cursor: pointer;
    fill: #d0d0d0 !important;

}

.rango0{
    fill: #d0d0d0;
}

.rango1{
    fill: #196b03 !important;
}

.rango2{
    fill: #d5e601 !important;
}

.rango3{
    fill: #fea400 !important;
}

.rango4{
    fill: #ff2900 !important;
}

.municipios:hover{
    opacity: 1;
}

#tolima{
    opacity: 0.8;
    transition: transform .1s;
}

#tolima:hover{
    fill:#532534;
    fill-opacity:0.788235;
    transform: scale(1.01);
    opacity: 1;
}

#risarlada{
    opacity: 0.8;
    transition: transform .1s;
}

#risarlada:hover{
    fill:#ffaa00;
    fill-opacity:0.788235;
    transform: scale(1.01);
    opacity: 1;
}

#quindio{
    opacity: 0.8;
    transition: transform .1s;
}

#quindio:hover{
    fill:#018044;
    fill-opacity:0.788235;
    transform: scale(1.01);
    opacity: 1;
}

.str0 {stroke:#FEFEFE;stroke-width:49.33;stroke-miterlimit:22.9256;stroke-opacity:0.788235}
.fil1 {fill:#FDB92E;fill-opacity:0.788235; cursor: pointer;}
.fil0 {fill:#80384F;fill-opacity:0.788235; cursor: pointer;}
.fil3 {fill:#28744B;fill-opacity:0.788235; cursor: pointer;}
.fil2 {fill:#00A859;fill-opacity:0.788235; cursor: pointer;}


.testimonial-card .card-up {
    height: 120px;
    overflow: hidden;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.aqua-gradient {
    background: linear-gradient(40deg, #2096ff, #05ffa3) !important;
}

.testimonial-card .avatar {
    width: 120px;
    margin-top: -60px;
    overflow: hidden;
    border: 5px solid #fff;
    border-radius: 50%;
}
